#header {
  display: flex;
  justify-content: space-between;
  padding: 5vw 5vw 3vw;
}
h1 {
  font-size: 30px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.tooltip-wrap {
  margin-right: auto;
  margin-left: 10px;
}
.tooltip {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: #000;
}
.search {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  width: 60%;
}
.search input {
  width: 60%;
  background: none;
  border: none;
  font-size: 18px;
}
.search .input-wrap {
  position: relative;
}
.search .input-wrap::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  bottom: 0;
  left: 0;
}
.search button {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: #000;
}
.back-btn {
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}
.tooltip-wrap {
  position: relative;
}
.tooltip-popup {
  position: absolute;
  top: 50px;
  left: -10px;
  width: 50vw;
  padding: 30px 50px 50px;
  background: #fff;
  font-size: 18px;
  z-index: 5;
}
.tooltip-popup::before {
  content: "▲";
  color: #fff;
  position: absolute;
  top: -16px;
  left: 24px;
  font-size: 20px;
}
.tooltip-popup h3 {
  font-size: 20px;
}
.tooltip-popup .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.tooltip-popup .popup-close {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: #000;
}
.tooltip-popup p {
  line-height: 1.3;
}
@media (max-width: 768px) and (orientation: portrait) {
  #header {
    padding: 10vw 6vw;
  }
  h1 {
    font-size: 22px;
  }

  .search {
    width: 150px;
    justify-content: initial;
    gap: 0;
  }
  .search input {
    font-size: 16px;
    width: 100%;
  }
  .search .input-wrap {
    width: 60%;
  }
  .search button {
    font-size: 16px;
    width: 50px;
  }
  .back-btn {
    font-size: 25px;
  }
  .tooltip-wrap {
    margin-left: 0;
  }
  .tooltip-popup {
    left: clamp(-100px, -27vw, -27vw);
    width: 85vw;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  .tooltip-popup::before {
    content: none;
  }
  .tooltip-popup .head {
    margin-bottom: 20px;
  }
}
