#items {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}
.group-wrap {
  width: 100%;
  padding: 0 5vw;
}
.group-wrap > h2 {
  margin: 1.5vw 0;
  font-size: 20px;
  font-weight: 700;
}
.group-wrap .flex-box {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.item {
  /* --border-width: 3px; */
  box-sizing: border-box;
  border-radius: 80px;
  padding: 30px 50px;
  width: 300px;
  text-decoration: none;
  color: #000;
  background: radial-gradient(#ffffff, #ffffff, #ffffff00);
}

.item:hover {
  animation: spin 0.5s linear infinite;
  animation-delay: 0.2s;
  position: relative;
  transform-style: preserve-3d;
}
@keyframes spin {
  from {
    transform: perspective(800px) rotateY(0deg);
  }
  to {
    transform: perspective(800px) rotateY(360deg);
  }
}
/* .item:hover {
  position: relative;
  background: #fff;
} */
/* .item:hover::after {
  position: absolute;
  content: "";
  z-index: -1;
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 81px;
  animation: moveGradient 2s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
} */

.title {
  font-size: 18px;
  padding-bottom: 15px;
  font-weight: 500;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.title::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 15px);
  height: 50%;
  background: rgb(216, 206, 255, 0.5);
  z-index: -1;
}

.thumbnail {
  width: 50%;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.thumbnail img {
  width: 100%;
}
.contents {
  line-height: 1.5;
  margin-top: 10px;
  width: 100%;
}
.contents > p span {
  color: #a6a6a6;
}
.contents .sort {
  color: #b18ec2;
}
/* 상세페이지 */
.detail-wrap {
  margin: 3vw auto;
  padding: 2vw;
  background: #fff;
  border-radius: 15px;
  max-width: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detail-wrap .name {
  font-weight: 600;
  font-size: 18px;
}
.detail-wrap .main-image {
  width: 10vw;
}
.detail-wrap .main-image img {
  width: 100%;
}
.detail-wrap .description {
  margin-top: 20px;
  font-size: 18px;
}
.detail-wrap .sort {
  margin-top: 15px;
  font-size: 20px;
}
@media (max-width: 768px) and (orientation: portrait) {
  .group-wrap > h2 {
    text-align: center;
    margin: 8vw 0 8vw;
  }
  .group-wrap .flex-box {
    gap: 15px;
  }
  .item {
    width: 161px;
    padding: 15px 18px;
    border-radius: 20px;
    background: radial-gradient(#ffffff, #ffffff, #ffffff66);
  }
  .title {
    font-size: 14px;
    padding-bottom: 0;
  }
  .title::before {
    top: 8px;
  }
  .thumbnail {
    height: 100px;
  }
  .contents {
    margin-top: 0;
  }
  .contents > p {
    font-size: 13px;
  }
  .contents > p span {
    font-size: 12px;
  }
  .detail-wrap p span {
    font-size: 14px;
  }
  .detail-wrap .main-image {
    width: 30vw;
  }
  .detail-wrap {
    margin: 5vw;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detail-wrap .name {
    font-size: 25px;
    padding: 15px 17px;
    border-radius: 30px;
  }
  .detail-wrap .contents p {
    font-size: 18px;
  }
  .detail-wrap .contents .description {
    font-size: 16px;
  }
}
