#items {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 1;
}
.group-wrap {
  width: 100%;
  padding: 0 5vw;
}
.group-wrap > h2 {
  margin: 1.5vw 0;
  font-size: 20px;
  font-weight: 700;
}
.group-wrap .flex-box {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.item {
  box-sizing: border-box;
  border-radius: 100px;
  padding: 30px 50px;
  width: 300px;
  text-decoration: none;
  color: #000;
  background: radial-gradient(#ffffff, #ffffff, #ffffff00);
}
.item:hover {
  animation: spin 0.5s linear infinite;
  animation-delay: 0.5s;
  transform-style: preserve-3d;
}
@keyframes spin {
  from {
    transform: perspective(800px) rotateY(0deg);
  }
  to {
    transform: perspective(800px) rotateY(360deg);
  }
}
.title {
  font-size: 18px;
  padding-bottom: 15px;
  font-weight: 700;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.title::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 15px);
  height: 50%;
  background: #d8ceff;
  z-index: -1;
}
.thumbnail {
  width: 50%;
  height: 145px;
  margin: 0 auto;
}
.thumbnail img {
  width: 100%;
}
.contents {
  line-height: 2;
}
.contents > p span {
  color: #a6a6a6;
}

/* 상세페이지 */
.detail-wrap {
  margin: 3vw;
  padding: 2vw;
  background: #fff;
  border-radius: 15px;
}
.detail-wrap .main-image {
  width: 10vw;
}
.detail-wrap .main-image img {
  width: 100%;
}
.detail-wrap .description {
  margin-top: 20px;
}

@media (max-width: 768px) and (orientation: portrait) {
  .group-wrap .flex-box {
    justify-content: center;
  }
  .group-wrap > h2 {
    text-align: center;
    margin: 10vw 0 5vw;
  }
  .detail-wrap .main-image {
    width: 30vw;
  }
  .detail-wrap {
    margin: 5vw;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detail-wrap .name {
    font-size: 25px;
    padding: 15px 17px;
    border-radius: 30px;
  }
  .detail-wrap .contents p {
    font-size: 18px;
  }
  .detail-wrap .contents .description {
    font-size: 16px;
  }
}
